.syne-mono-regular {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.header {
  background: #048a99;
  color: #ffffff;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  padding: 10px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
}

.header__text {
  color: #ff4a11;
}

.header__heading {
  font-family: Syne Mono;
  font-weight: 500;
  font-size: 2.5rem;
}

.navbar {
  background: #048a99;
  color: #ffffff;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  /* align-content: center; */
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.navbar__button {
  /*Style me! Change my border, set a border radius or what you want to try out. :) */
  border-radius: 0px;
  border: none;
  background-color: #048a99;
  width: 33%;
}

.navbar__button:hover {
  background-color: #07bbcf;
}

.navbar__item {
  fill: white;
}

.navbar__item:hover {
  /* fill: grey; */
}
