.syne-mono-regular {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.header {
  background: #048a99;
  color: #ffffff;
  height: 10vh;
  box-shadow: 10px 10px 2vh rgb(83, 84, 84);
  padding: 10px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  border-bottom-left-radius: 1em;
}

.header__heading {
  font-family: Syne Mono;
  font-weight: 500;
  font-size: 2.5rem;
}

/* .h1 {
  display: inline-block;
} */

.blur {
  font-family: Syne Mono;
  font-weight: 500;
  font-size: 2.5rem;
  margin: 0.2rem;
  /* transition: color 800ms, text-shadow 800ms; */
}

@-webkit-keyframes aniblur {
  from {
    text-shadow: 0rem 0rem 0.7rem rgb(255, 255, 255, 1);
    color: transparent;
  }
  to {
    text-shadow: 0;
    color: white;
  }
}

.h1container:hover {
  cursor: default;
  .h1 span:nth-of-type(1) {
    animation: aniblur 5000ms 1 alternate;
  }
  .h1 span:nth-of-type(2) {
    animation: aniblur 5000ms 0.15s 1 alternate;
  }
  .h1 span:nth-of-type(3) {
    animation: aniblur 5000ms 0.25s 1 alternate;
  }
  .h1 span:nth-of-type(4) {
    animation: aniblur 5000ms 0.4s 1 alternate;
  }
  .h1 span:nth-of-type(5) {
    animation: aniblur 5000ms 0.5s 1 alternate;
  }
  .h1 span:nth-of-type(6) {
    animation: aniblur 5000ms 0.65s 1 alternate;
  }
  .h1 span:nth-of-type(7) {
    animation: aniblur 5000ms 0.75s 1 alternate;
  }
  .h1 span:nth-of-type(8) {
    animation: aniblur 5000ms 0.9s 1 alternate;
  }
}

/* .blur:hover {
  text-shadow: 0rem 0rem 0.7rem rgb(255, 255, 255, 1);
  color: transparent;
  cursor: default;
} */

main {
  /* margin: 150px 0px 150px 0px; */
  margin: 18vh 10vw 15vh 10vw;
  font-family: system-ui;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.card {
  margin: 7vh 10vw;
  border: 0.2rem solid #048a99;
  padding: 3% 15%;
  /* scroll-margin-top: 100px; */
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.card.default {
  height: 30vh;
  position: relative;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  /* justify-items: center; */
  /* text-justify: center; */
}

.bookmark_button {
  border: none;
  font-size: 2em;
  padding: none;
  position: absolute;
  right: 2%;
  top: 0%;
  background-color: transparent;
}

.bookmark_item {
  fill: #048a99;
  opacity: 40%;
  transform: scale(1.15);
}

.bookmark_item:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.card.bookmarked .bookmark_item {
  opacity: 100%;
  transform: scale(1.3);
}

.question__text {
  text-align: center;
  justify-self: center;
}

.solution {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: transparent;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 1);
  transition: color 1700ms, text-shadow 1500ms;
}

.solution.visible {
  color: black;
  text-shadow: none;
}

.show_answer {
  border-radius: 5px;
  border: none;
  /* border-color: #048a99;
  border-width: 0.2rem;
  border-style: solid; */
  margin: 1rem;
  padding: 0.5rem;
  background-color: #048a99;
  width: auto;
  font-size: 1rem;
  color: white;
}

.show_answer:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #07bbcf;
}

.tags {
  list-style-type: none;
  align-self: self-start;
  font-size: 0.9rem;
}

.tags li {
  border-radius: 5px;
  border-color: #048a99;
  border-width: 0.2rem;
  margin: 0.1rem;
  padding: 0.3rem;
  background-color: rgb(175, 173, 173);
  display: inline-block;
  margin-right: 10px;
  color: white;
}

.navbar {
  background: #048a99;
  color: #ffffff;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  /* align-content: center; */
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.navbar__button {
  border: none;
  background-color: #048a99;
  width: 34%;
}

.navbar__button:hover {
  background-color: #07bbcf;
  border-width: 0 0.1rem 0 0.1rem;
  border-style: solid;
  border-color: white;
  cursor: pointer;
}

.navbar__button:hover .navbar__item {
  transform: scale(1.1);
}

.navbar__button[aria-label]:hover::after {
  display: block;
  content: attr(aria-label);
  color: white;
  padding-top: 0.2rem;
  font-family: system-ui;
}

.navbar__item {
  fill: white;
  transform: scale(1.3);
}
